/*
*************************************************
*              Contents of this file            *
*************************************************
->  General styles
->  Push overlay
->  Header
->  Push sidebar
->  Footer
->  Sub Page Style
->  Columns (4 columns support)
->  Clear Floated Elements
->  UI Elements & Shortcodes
    -> Form
    -> Table
    -> Thumbnail Effect
*/

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { height: 100%; }
body{
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 13px;
  background: #232323;
  overflow-x:hidden;
}

img {
  height: auto;
  max-width: 100%;
}

/* ---------------------------------------------------------------
 * General styles
 * ------------------------------------------------------------ */	
#wrapper { height: inherit; }
.container {
	margin: 0 auto;
  width: 940px;
  position: relative;
}
#content { 
  height: inherit; 
  /*padding-left: 300px;*/
}
.main {
  float: left;
  width: 50%; /*28%;*/
  padding:90px 30px;
}
.sidebar {
  width: 50%; /*72%;*/
  float: right;
  height: inherit;
}
.sidebar.two-fourth{ margin-right: 0; }
#map-canvas { height:100%; }
#map-canvas img { 
    max-width: none !important; 
    height: auto !important; 
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* ---------------------------------------------------------------
 * Push overlay
 * ------------------------------------------------------------ */
.navigation-overlay {
  display: none;
}
.push-active .navigation-overlay {
  background: transparent;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 997;
}
/* ---------------------------------------------------------------
 * Header 
 * ------------------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.header-inner {
  padding: 10px;
  background: rgba(0, 0, 0, .8);
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  border-bottom: none;
  width: 100%;
  opacity: 1;
  -webkit-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
  -moz-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
  -ms-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
  -o-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
  animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
}
.header-inner.scrolled {
  background: rgba(0, 0, 0, .8);
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -ms-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}
.push-active .header-inner {
  opacity: 0;
  -webkit-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
  -moz-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
  -ms-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
  -o-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
  animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
}

.logo {
  padding-left: 15px;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.logo:hover {
  opacity: .5;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/* Menu border */
.menu-button {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 20px;
  right: 20px;
  top: 16.5px;
  position: absolute;
  margin-top: 8px;
}
.menu-button .before,
.menu-button .middle,
.menu-button .after {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.menu-button:hover .before {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.menu-button:hover .after {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.push-active .menu-button .middle {
  display: none;
}
.push-active .menu-button .before {
  margin: 0;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
.push-active .menu-button .after {
  margin: 0;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(7px) rotate(-45deg);
  -moz-transform: translateY(7px) rotate(-45deg);
  -ms-transform: translateY(7px) rotate(-45deg);
  -o-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}

/* ---------------------------------------------------------------
 * Push sidebar 
 * ------------------------------------------------------------ */
.push-sidebar {
  display: block;
  vertical-align: middle;
  position: fixed;
  width: 290px; 
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 998;
  overflow: auto;
  background-color: #2f2f2f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*overflow: scroll;*/
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
.push-left {
  -webkit-transform: translate3d(-290px, 0, 0);
  -moz-transform: translate3d(-290px, 0, 0);
  -ms-transform: translate3d(-290px, 0, 0);
  -o-transform: translate3d(-290px, 0, 0);
  transform: translate3d(-290px, 0, 0);
}
.push-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.wrap-push {
  -webkit-transform: translate3d(290px, 0, 0);
  -moz-transform: translate3d(290px, 0, 0);
  -ms-transform: translate3d(290px, 0, 0);
  -o-transform: translate3d(290px, 0, 0);
  transform: translate3d(290px, 0, 0);
}
.push-sidebar,
#wrapper  {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  -ms-transition: -ms-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  transition: transform 0.5s cubic-bezier(.16, .68, .43, .99);
}

/* Quick contact */
.quick-contact { 
  padding: 20px; 
  margin: 50px 0;
  opacity: 0;
  -webkit-animation: fadeOut 0.2s;
  -moz-animation: fadeOut 0.2s;
  -ms-animation: fadeOut 0.2s;
  -o-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s;
}
.push-active .quick-contact {
  opacity: 1;
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  -o-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}
.quick-contact ul {
  margin: 0;
  list-style: none;
}

/* Social contact */
.social { margin: 15px 0 0; }
.social ul li { 
  float: left;
  margin-right: 5px;
}

/* Logo nav and Push main nav */
.logo-nav {
  text-align: center;
  margin: 50px 0;
  /*position: absolute;
  width: 100%;
  top: 10%;*/
}

ul.primary-nav {
  display: block;
  padding: 0;
  list-style: none;
  margin: 20px 0;
}
ul.primary-nav li {
  opacity: 0;
  -webkit-animation: fadeOut 0.1s;
  -moz-animation: fadeOut 0.1s;
  -ms-animation: fadeOut 0.1s;
  -o-animation: fadeOut 0.1s;
  animation: fadeOut 0.1s;
}
.push-active ul.primary-nav li {
  opacity: 1;
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  -o-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}
ul.primary-nav li:last-of-type {
  margin-bottom: 0px;
}
ul.primary-nav a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 6px 6px;
  border-bottom: 1px solid #3e3e3e;
  display: block;
  outline: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
ul.primary-nav a:hover {
  color: #DDA838;
  border-bottom: 1px solid #DDA838;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
ul.primary-nav ul {
  list-style: none;
  overflow: hidden;
  height: 0;
}
ul.primary-nav ul li a {
  font-size: 11.5px;
  padding-left: 0;
}

/* active and hover */
ul.primary-nav li a:hover,
ul.primary-nav li.current-menu-item > a,
ul.primary-nav li.current-menu-ancestor > a,
ul.primary-nav li.current-menu-parent > a  { 
  color:#DDA838; 
  border-bottom: 1px solid #DDA838;  
}
ul.primary-nav li ul li a:hover,
ul.primary-nav li.current-menu-ancestor ul li.current-menu-parent > a,
ul.primary-nav li.current-menu-parent ul li.current-menu-item > a { 
  border-bottom: 1px solid #666666;  
}

/* Animation Durations and easings */
.csstransitions ul.primary-nav li ul{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

/* ---------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------ */
.footer-nav {
  /*width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;*/
  opacity: 0;
  padding: 0 20px;
  -webkit-animation: fadeOut 0.2s;
  -moz-animation: fadeOut 0.2s;
  -ms-animation: fadeOut 0.2s;
  -o-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s;
}
.push-active .footer-nav {
  opacity: 1;
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  -o-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}
.footer-nav .social li {
  display: inline-block;
}
.footer-nav .social li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  opacity: .5;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.footer-nav .social li a:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.footer-nav h6 {
  display: block;
  color: #fff;
}

/* ---------------------------------------------------------------
 * Sub Page Style
 * ------------------------------------------------------------ */ 
h1.entry-title { 
  color: #fff; 
  font-size: 24px;
}
.image-about { margin-bottom: 0.5%; }
.image-about:last-child { margin-bottom: 0; }
.brand-product, .brand-catalog {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #e7e7e9;
  padding: 70px 30px;
  text-align: center;
}
.image-catalog .two-fourth {
  width: 49.75%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}
.image-catalog .two-fourth:nth-child(2n+2) {
  margin-right: 0;
}
.image-catalog .two-fourth:nth-last-child(-n+2) { margin-bottom: 0; }
.pic-profile { margin-bottom: 10px; }

/* Effect */

.effect img {
  vertical-align:top;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.effect {
  position:relative;
  display:block;
  overflow:hidden;
  text-align: center;
}
.text {
  position:absolute;
  top:0;
  opacity:0;
  z-index:1;
  background:rgba(236, 227, 218, 0.6);
  width:100%;
  height:100%;
  text-align:center;  
  vertical-align: middle;

}

.effect:hover .text {
  opacity:1;
  -moz-transition: opacity 0.3s ease-in-out 0s;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -o-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
}
.effect:hover img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.effect:hover .text h2 {
  position:absolute;
  top:45%;
  transform: translateY(-45%);
  -moz-transform: translateY(-45%);
  -o-transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.text h2 {
  font-size:18px;
  color:#232323;
  position:absolute;
  top:35%;
  transform: translateY(-35%);
  -moz-transform: translateY(-35%);
  -o-transform: translateY(-35%);
  -webkit-transform: translateY(-35%);
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  -o-transform: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  -webkit-transform: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  transition: top 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
}

/* News&Press contact */
.news-press { padding: 20px; }
/* ---------------------------------------------------------------
 * COLUMNS : Support 4 columns
 * ------------------------------------------------------------ */	
.one-fourth, .one-third, .two-third, .two-fourth, .three-fourth {
	position: relative;
	margin-right: 3%;
	float: left;
	/*overflow:hidden;*/
}
/* one_fourth */
.one-fourth{
	width: 22.75%;
}
/* one_third */
.one-third {
    width: 31.33%;
}
/* two_third */
.two-third {
    width: 65.66%;
}
/* two_fourth */
.two-fourth {
    width: 48.5%;
}
/* three_fourth */
.three-fourth {
    width: 74.25%;
}
.last {
	margin-right: 0 !important;
	clear: right;
}

/* ---------------------------------------------------------------
 * Clear Floated Elements
 * ------------------------------------------------------------ */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.left { float: left; }
.right { float: right; }

/* ---------------------------------------------------------------
 * Shortcodes & UI Elements
 * ------------------------------------------------------------ */

/* Form */
input, textarea, button, select, label { font-family: inherit; }
input,
textarea,
button,
select,
label { font-size: 13px; }

input::-moz-focus-inner, 
button::-moz-focus-inner { 
  border: 0; 
  padding: 0; 
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
button, 
textarea { 
  margin: 0; 
  -webkit-border-radius: 0; 
  border-radius: 0; 
}

input, 
textarea, 
button { 
  -moz-appearance: none; 
  -webkit-appearance: none; 
  -moz-transition: all .2s ease; 
  -webkit-transition: all .2s ease; 
  transition: all .2s ease; 
}

input[type="checkbox"] { 
  -moz-appearance: checkbox; 
  -webkit-appearance: checkbox; 
}

input[type="radio"] { 
  -moz-appearance: radio; 
  -webkit-appearance: radio; 
}

label { 
  color: #444; 
}

input[type="text"],
input[type="tel"], 
input[type="date"], 
input[type="password"], 
input[type="email"],
select, 
textarea { 
  background:#F7F7F7;
  border:1px solid #E9E9E9;
  padding: 0.7em 1em;
  color:#ACACAC;
  display: block; 
  width: 100%; 
  outline: none; 
} 

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus,
select:focus, 
textarea:focus { 
  border-color: #D8C078; 
  color: #444; 
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1); 
  box-shadow: 0 0 3px rgba(0,0,0,0.1); 
}

label .required { color: #3b8dbd; }
input[type="submit"],
button[type="submit"] { 
  background:#3B3B3B;
  color:#FFF;
  padding: 8px 14px; 
  font-weight: 600; 
  display: inline-block; 
  border: none; 
  cursor: pointer; 
}

input[type="submit"]:hover,
button[type="submit"]:hover { background:#D8C078; }

select::-ms-expand {
    display: none; /* hide default arrow in IE10 */
}

select {
  padding-right: 2em;
  text-indent: 0.01px;
  text-overflow: "";
  background: url('../images/dropdown-arrow.png') no-repeat 100% 9px #F7F7F7;
  *background-image:none; /* turn bg image for IE7 */
  background: url('../images/dropdown-arrow.png') no-repeat 100% 9px #F7F7F7; /* fallback bg image*/
  -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
  -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  appearance: none;
}
/* Targeting Firefox Users Only */
@-moz-document url-prefix() {
select {
  padding-bottom: 0.01px;
  background: url('../images/dropdown-arrow.png') no-repeat 100% 10px #F7F7F7;
}
}
select option {
  background: #fff; /* style the dropdown bg color */
  padding-top: 5px;
  padding-bottom: 5px;
}	
